/* Write your CSS here */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #333333;
}

.dark-bg {
  background-color: #333333;
}

.light-bg {
  background-color: #ffffff;
}

.website-logo {
  width: 60px;
  height: 60px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  width: 120px;
  justify-content: space-between;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .nav-items {
    width: 150px;
  }
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.toggle-icon {
  width: 50px;
  height: 50px;
}

.light-color {
  color: #ffffff;
}

.dark-color {
  color: #171f46;
}
